@model DedKorchma.Models.ViewModels.NewsViewModel.DetailsNewsViewModel

@{
    ViewBag.Title = @Model.Title;
}
<div class="container form-account">
    <div class="details-news">
        <div class="details-news__img" style="background-image: url(@Url.Content(Model.HeadImage)"> </div>
        <div class="details-news__Name">@Model.Name</div>
        <div class="details-news__Datetime">@Model.DateCreated</div>
        <hr/>
        <div class="Details-news__Body">@Html.Raw(Model.Body)</div>
    </div>
    <hr/>
    <p>
        @Html.ActionLink("Вернутся к новостям", "Index")
    </p>
</div>