@model DedKorchma.Models.ViewModels.GalleryViewModel.GalleryViewModel

@{
    ViewBag.Title = "Галерея";
}

<div class="container">
    <div class="gallery form-account">
            <h2>Галлерея</h2>
        @if (Request.IsAuthenticated)
        {
            @Html.ActionLink("Создать альбом", "Createalbum")
        }<hr />
            <div class="albums">
                <h3>Альбомы</h3>
                <div class="row">
                    @if (Model.Albums != null)
                    {
                        foreach (var album in Model.Albums)
                        {
                            <a href="@Url.Action("Detailsalbum",new { url=album.UrlPath})">
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <div class="album-item" style="background-image: url(@Url.Content(@album.HeadImage))">
                                        <div class="album-item__heder"></div>
                                        <div class="album-item__footer">
                                            <div class="album-item__name">
                                                @album.NameOfAlbum
                                            </div>
                                            <div class="album-item__info">
                                                <div class="album-item__countPhoto">
                                                    @album.Photos.Count фото
                                                </div>
                                                <div class="album-item__dateCreated">
                                                    @album.DateCreated
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        }
                    }
                </div>
            </div>
        <hr/>
                <h3>Все фотографии</h3>
                <div class="row">
                    @if (Model.Photos != null)
                    {
                        foreach (var photo in Model.Photos)
                        {
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <a class="album-details__photo" href="@photo.Path" style="background-image: url(@Url.Content(photo.Path))" data-lightbox="photo"></a>
                            </div>
                        }
                    }
            </div>
        </div>
</div>
@section css{
    <link href="~/Content/css/lightbox.min.css" rel="stylesheet" />
}

@section scripts{
    <script src="~/Scripts/lightbox.min.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
}