@model DedKorchma.Models.ViewModels.MenuViewModel.CreateProductViewModel

@{
    ViewBag.Title = "Создать";
}
<div class="container form-account">
    <div class="row">
        <div class="col-md-8">
                <h2>Создать блюдо</h2>

                <div>
                    @Html.ActionLink("Вернутся в меню", "Index")
                </div>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-md-10 float-right">
                                    <div class="headimage-block">
                                        <img class="headPhoto img-responsive" src="" alt="" style="display: none;" />
                                        <div class="overlay black">
                                            <span class="change-image">изменить картинку</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="dropzone col-md-10 float-right" id="MenuHeadImageDropZone"> </div>

                                @Html.HiddenFor(s => s.HeadImage)
                                @Html.ValidationMessageFor(m => m.HeadImage, "", new { @class = "text-danger" })

                            </div>
                        </div>
                      
                        <div class="form-group">
                            @Html.LabelFor(model => model.IsVisible, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <div class="checkbox">
                                    @Html.EditorFor(model => model.IsVisible)
                                    @Html.ValidationMessageFor(model => model.IsVisible, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
   
                        <div class="form-group">
                            @Html.Label("Категория", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownList("CategoryId", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.NameOfProduct, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.NameOfProduct, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.NameOfProduct, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Discount, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Discount, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Discount, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.UrlPath, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.UrlPath, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.UrlPath, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Сохранить" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    @section css{
        <link href="~/Content/css/dropzone.css" rel="stylesheet" />
        <link href="~/Content/css/basic.css" rel="stylesheet" />
    }
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/bootstrap")
        <script src="~/Scripts/dropzone.js"></script>

        <script>
            Dropzone.options.MenuHeadImageDropZone = {
                url: "/menu/SaveCategoryHeadPhoto",
                addRemoveLinks: true,
                autoProcessQueue: true,
                autoDiscover: false,
                clickable: true,
                maxFiles: 1,
                uploadMultiple: false,
                dictDefaultMessage: "Что бы добавить заглавную картинку нажмите сюда либо перетяните картинку в эту область",
                success: function (file, response) {
                    $(".headPhoto").attr("src", response.url);
                    $("#HeadImage").val(response.fileName);
                    this.removeAllFiles(true);
                    $(".headPhoto").slideDown(200);
                    $("#MenuHeadImageDropZone").slideUp(200);
                }
            }
            $(".headimage-block .overlay.black").click(function () {
                $(".headPhoto").slideUp(200);
                $("#MenuHeadImageDropZone").slideDown(200);
            });
        </script>
    }
